.card{
    width: 300px;
    height: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative;
}
.card-img{
    padding: 10px;
}
.card img {
    width: 100%;
    border-radius: 5px;
}
.card-info{
    padding: 0 12px;
}
.card-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}
.card-buttons button{
    border: none;
    padding: 10px 25px;
}
.add-btn{
    background-color: rgb(255, 174, 145);
}
.delete-btn{
    background-color: rgb(250, 210, 210);
}
.add-btn:hover{
    background-color: orangered;
    color: white;
}
.delete-btn:hover{
    background-color: rgb(255, 41, 41);
    color: white;
}