.product-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.shop-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    gap: 30px;
}

.order-list {
    background-color: orangered;
    color: white;
}

.btn-child:hover {
    background-color: green;
    color: white;
}

.pagination {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    background-color: white;
    margin-right: 10px;
    border: 1px solid orangered;
    border-radius: 3px;
}

.pagination .selected {
    background-color: orangered;
    color: white;
}