.product-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.shop-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    gap: 30px;
}
.order-list{
    background-color: orangered;
    color: white;
}