.navbar{
    height: 80px;
    background-color: rgb(31, 12, 5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
.navbar a:hover{
    color: orangered;
}