.form-container {
    width: 500px;
    /* height: 700px; */
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.form-title {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
}

.form-submit:hover {
    background: rgba(255, 153, 0, 0.5);
}

.link {
    text-align: center;
}

.link a {
    text-decoration: none;
    color: rgba(255, 153, 0, 1);
}

.or {
    display: flex;
    justify-content: center;
    align-items: baseline;
    opacity: 40%;
}

.or p {
    margin: 15px;
}

.or .line {
    width: 185px;
    border-bottom: 1px solid;
}

.google-btn {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 25px;
}

.google-btn:hover {
    background-color: #95a0a741;
}

.google-icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}